<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
	  <add key="DefaultFoldersSet"/>
	  <add key="DefaultAESKeys"/>
	  <add key="SelectedAESKey"/>
	  <add key="SelectedRSAKey"/>
	  <add key="DefaultRSAKeys"/>
	  <add key="DefaultAESKeys"/>
	  <add key="DefaultFileRSAEncrypted"/>
	  <add key="DefaultFileAESEncrypted"/>
	  <add key="DefaultFileRSADecrypted"/>
	  <add key="DefaultFileAESDecrypted"/>
	  <add key="DefaultFileToOpen"/>
  </appSettings>
</configuration>